<div class="books-wrapper">
<div class="books-container">
<h1 class="library-header">Authors</h1>


<table class="table table-bordered no-border table-striped book-table">
  <thead>
  <tr>
    <th class="no-border">
      <h3 class="table-title">
      Name
      </h3>
    <br><small class="small table-title-small">click name to edit</small>
    </th>
    <th class=" vtop no-border">
      <h3 class="table-title">
        Books
      </h3>
    </th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |author|}}
    <tr class="books-table">
      <td>
        {{#if author.isEditing}}
          <form {{action 'saveAuthor' author on='submit'}} class="form-inline">
            <div class="input-group">
              {{input value=author.name class="form-control"}}
              <div class="input-group-btn">
                <button type="submit" class="btn btn-success" disabled={{author.isNotValid}}>Save</button>
                <button class="btn btn-danger" {{action 'cancelAuthorEdit' author}}>Cancel</button>
              </div>
            </div>
          </form>
        {{else}}
          <span {{action 'editAuthor' author}}>{{author.name}}</span>
        {{/if}}
      </td>
      <td>
        <ul>
          {{#each author.books as |book|}}
            <li>{{book.title}}</li>
          {{/each}}
        </ul>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
</div>
