<div class="books-wrapper">
<div class="books-container">
<h1 class="library-header">Books</h1>

<table class="table table-bordered table-striped no-border book-table">
  <thead>
  <tr class="">
    <th class="vtop wider no-border">
      <h3 class="table-title">Author</h3>
      <br><small class="small table-title-small">click name to edit</small>
    </th>
    <th class=" vtop no-border">
      <h3 class="table-title">
      Title
    </h3>
      <br><small class="small table-title-small">click name to edit</small>
    </th>
    <th class="vtop no-border">
      <h3 class="table-title">Release Year</h3>
      </th>
    <th class="vtop no-border">
      <h3 class="table-title">
      Library
    </h3>
      <br><small class="small table-title-small">click name to edit</small>   </th>
  </tr>
  </thead>
  <tbody class="books-tabl">
  {{#each model as |book|}}
    <tr class="books-table">

      <td class="books-tables">
        {{#if book.isAuthorEditing}}

          {{author-select
            book=book
            authors=authors
            default=book.author
            action='saveAuthor'}}

          <button class="btn btn-danger" {{action 'cancelAuthorEdit' book}}>Cancel</button>

        {{else}}
          <span {{action 'editAuthor' book}}>{{book.author.name}}</span>
        {{/if}}
      </td>

      <td>
        {{#if book.isEditing}}
          <form {{action 'saveBook' book on='submit'}} class="form-inline">
            <div class="input-group">
              {{input value=book.title class='form-control'}}
              <div class="input-group-btn">
                <button type="submit" class="btn btn-success" disabled={{book.isNotValid}}>Save</button>
                <button class="btn btn-danger" {{action 'cancelBookEdit' book}}>Cancel</button>
              </div>
            </div>
          </form>
        {{else}}
          <span {{action 'editBook' book}}>{{book.title}}</span>
        {{/if}}
      </td>

      <td>{{book.releaseYear}}</td>
      <td>

        {{#if book.isLibraryEditing}}

          {{library-select
            book=book
            libraries=libraries
            default=book.library
            action='saveLibrary'}}

          <button class="btn btn-danger" {{action 'cancelLibraryEdit' book}}>Cancel</button>

        {{else}}
          <span {{action 'editLibrary' book}}>{{book.library.name}}</span>
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>
</div>
